.app.light {
    --bg-color:#94658b;
    --inverted-bg-color:#430336;

    --primary-color: #2352d3;
    --inverted-primary-color: #078207;
    
    --seconary-color: #6c5ebb;
    --inverted-seconary-color: #033603;
}
 